/DATA_ROOT
/eval
/cache_dir
/.idea
/videollava.egg-info
/checkpoints
/pyproject.toml
# delete all files startwith slurm
/slurm*

__pycache__

**/__pycache__

/llava_all_image_video
/local_bash
/scikit_learn-1.5.2
/test_ruiz
